<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="co.za.lulamile.find">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome_process.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome_process.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".welcome_process.ActivityForgotPassword"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".user_actions.ProfileActivity" />
        <activity android:name=".chats.Chats" />
        <activity android:name=".user_actions.FrequentlyAskedQuestions" />
        <activity android:name=".chats.SendFeedBack" />
        <activity
            android:name=".posts.WritePostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".welcome_process.ActivityGetStarted">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="find-app.com"
                    android:pathPrefix="/verify_email_confirmation"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome_process.ActivityWelcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--        <activity-->
        <!--            android:name=".user_actions.DiscoverFragment"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".user_actions.ActivityHomeNavigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".chats.SafetyTipsDialog" />
        <activity android:name=".user_actions.ActivitySettings" />
    </application>

</manifest>